/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
  background: #910233;
  color: #de619b;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-3,
.col-2-3  {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

.row,
.row-alt {
  min-width: 960px;
}
.row {
  background: #413f3f;
  padding: 66px 0 44px 0;
}
.row-alt {
  background: #f4aec9;
  
  padding: 44px 0 22px 0;
}



h1, h2, h3, h4 {
  color: #ff066f;
}
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
 
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}

.lead {
  text-align: center;
}
.lead p {
  font-size: 21px;
  line-height: 33px;
}



a {
  color: #648880;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}
.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}

/*
  ========================================
  Buttons
  ========================================
*/


/*
  ========================================
  Primary header
  ========================================
*/


.primary-nav {

  font-size: 30px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}



.primary-footer {
  color: #ef74b6;
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}



.nav {
  text-align: center;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: center;
}
.nav li:last-child {
  margin-right: 0;
}



.myself {
  margin-bottom: 44px;
}
.myself-info {
  border: 10px solid #48224b;
  border-radius: 5px;                               
  margin-top: 88px;
  padding-bottom: 22px;
  text-align: center;
}
.myself-info img {
  border-radius: 10%;
  height: 219px;
  margin: -66px 0 22px 0;
  vertical-align: top;
}


.list {
  list-style: square;
  margin: 0 0 22px 30px;
}
